extends layout

block title
  title Inventory Planner

block introduction
        .ui.text.container
          h1.ui.inverted.header Inventory Planner
          .ui.huge.labels
            .ui.teal.label
              .detail Gain Insights
            .ui.olive.label
              .detail Minimize Costs
            .ui.green.label
              .detail Maximize Profits

block content
        .ui.vertical.stripe.segment
          .ui.text.container
            h3.ui.header Forecasting
            p A big challenge for businesses is to know how much inventory
              | they should carry for a product such that they neither run out
              | of stock when a product is in demand, nor do they over-stock,
              | increasing their inventory-holding cost.
            p Forecasting techniques help overcome this challenge by predicting
              | the minimum stock to carry for fulfilling the maximum demand.
              | They do this by analyzing past sales data and uncovering trends
              | within them. Given that the demand patterns vary by the type
              | of product, different forecasting techniques offer different
              | accuracy of predictions. It is common to apply more than one
              | forecasting technique to sales data and then choosing the
              | forecast with the highest projected accuracy.
            a.ui.large.button(href='/forecast') Try Forecasting Techniques
