doctype html

html
  head
    link(href="/image/favicon.png", rel="shortcut icon")
    link(href="/css/semantic-ui.css", rel="stylesheet")
    block styles

    meta(charset="utf-8")
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    meta(content="width=device-width, initial-scale=1.0", name="viewport")

    script(defer="true", src="/script/jquery.js")
    script(defer="true", src="/script/semantic-ui.js")
    script(defer="true", src="/script/layout.js")
    block scripts

    block title
  body.pushable
    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            a.ui.item.label.massive(href="/", title="Home") Home
            a.ui.item.label.massive(href="/forecast", title="Forecast") Forecast
        block introduction
      block content
